<div class="ui-g">
  <div class="ui-g-2 ui-md-offset-5">
    <form class="ui-inputgroup" [formGroup]="mediaForm">
        <button pButton type="button" label="Search" (click)="search()"></button>
        <input type="text" pInputText placeholder="keyword" formControlName="searchTerm">
    </form>
  </div>

  <div class="ui-g-8 ui-md-offset-2" *ngIf="pageLoadingCompleted">
    <p-table [value]="books">
      <ng-template pTemplate="header">
        <tr>
          <th>Title</th>
          <th>Authors</th>
          <th>Type</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-book>
        <tr>
          <td>{{book.volumeInfo.title}}</td>
          <td>{{book.volumeInfo.authors}}</td>
          <td>{{book.type}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
